/* (format smartphone uniquement) */
@media (max-width : 480px) {
    * {
        background-color: #b1b1b1;
        box-sizing: border-box;
        padding: 0;
    }

    h2 {
        text-align: center;
        margin-bottom: 1vw;
        font-size: larger;
        margin-top: 4vh;
    }

    .promos {
        margin-top: 8vh;
        margin-bottom: 7vh;
        background-color: #a1a1a1;
    }

    h3 {
        font-size: large;
        background-color: #a1a1a1;
        padding-left: 9vw;
        margin-left: -2vw;
        margin-right: -2vw;
        margin-bottom: 0;
        padding-top: 1vw;
    }

    .article-promos {
        border: 1px solid black;
        border-radius: 10px;
        margin-bottom: 5vw;
        margin-top: 1vw;
    }

/* CAROUSEL 1 */
#carrousel1 {
    display: grid;
    grid-template-columns: 2fr 10fr 2fr;
    grid-template-rows: 10vh 10vh 10vh;
}

#carrousel1>img {
    object-fit: cover;
    display: none;
    width: 300px;
    height: 200px;
    grid-row: 1/3;
    grid-column: 2;
    margin-left: auto;
    margin-right: auto;
    z-index: 2;
    border: 1px solid rgb(43, 46, 58);
}
  
#carrousel1>.display {
    display: initial;
}

.img-info {
    grid-row: 2;
    grid-column: 2;
    margin-left: auto;
    margin-right: auto;
    z-index: 3;
    margin-top: 26vw;

}

/* flèches */
#carrousel1>p {
    font-size: 7vw;
    color: rgb(43, 46, 58);
    cursor: pointer;
    user-select: none;
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
}
  
#carrousel1>p:first-of-type {
    grid-row: 2;
    grid-column: 1;
    margin-right: 1vw;
}
  
#carrousel1>p:nth-of-type(2) {
    grid-row: 2;
    grid-column: 3;
    margin-left: 1vw;
}

/* CAROUSEL 2 */
#carrousel2 {
    display: grid;
    grid-template-columns: 6fr 50fr 50fr 6fr;
    background-color: #a1a1a1;
    margin-left: -2vw;
    margin-right: -2vw;
}

.article-promos>img {
    object-fit: cover;
    width: 150px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    z-index: 2;
    border: 1px solid rgb(43, 46, 58);
    margin-bottom: 2vw;
    border-radius: 10px;
}

.article-promos:nth-of-type(2n) {
    grid-column: 3;
    margin-left: auto;
    margin-right: auto;
}

.article-promos:nth-of-type(2n+1) {
    grid-column: 2;
    margin-left: auto;
    margin-right: auto;
}

.article-promos>.display {
    display: initial;
}

.img-info2 {
    margin-top: -13vw;
    z-index: 5;
    position: absolute;
    background-color: transparent;
}

.price-promo {
    text-align: center;
    border: 1px solid rgb(43, 46, 58);
    border-radius: 10px;
    margin-bottom: 1vw;
    margin-left: 15vw;
    margin-right: 15vw;
    padding-right: 1vw;
}

/* flèches */
#carrousel2>p {
    font-size: 6vw;
    color: rgb(43, 46, 58);
    cursor: pointer;
    user-select: none;
    background-color: #a1a1a1;
    margin-top: -25vw;
}

#carrousel2>p:first-of-type {
    grid-row: 2;
    grid-column: 1;
    text-align: center;
    margin-left: 1vw;
}

#carrousel2>p:nth-of-type(2) {
    grid-row: 2;
    grid-column: 4;
    text-align: center;
    margin-right: 1vw;
}
}