/*barre de recherche*/
header {
    display: flex;
    justify-content: space-between; /* Centre la barre de recherche et aligne le logo à gauche */
    align-items: center;
    padding: 1vw;
    margin-left: -2vw;
    margin-right: -2vw;
    background-color: #d9d9d9;
}

.logo {
    background-color: #d9d9d9;
}

.logo img {
    width: 10vw;
    background-color: #d9d9d9;
    height: auto;
    margin-right: 10px; /* Espace entre le logo et la barre de recherche */
}

.search-form {
    display: flex;
    align-items: center;
    background-color: #d9d9d9;
}

.search-bar-container {
    background-color: #d9d9d9;
    padding: 8px;
    display: flex;
    align-items: center;
}

.search-input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 20px; /* Bords arrondis */
    background-color: #fff; /* Fond blanc */
}

.search {
    padding: 8px;
    background-color: #a1a1a1;
    color: white;
    border: none;
    border-radius: 20px; /* Bords arrondis */
    cursor: pointer;
}

.search:hover {
    background-color: #939292;
}

/*burger menu */
.burger-menu {
    display: flex;
    flex-direction: column;
    cursor: pointer;
  }
  
  .menu-icon>img {
    width: 8vw;
    height: 5vh;
    background-color: #d9d9d9;
  }

  .menu-icon {
    background-color: #d9d9d9;
  }
  
  .menu-options {
    display: none;
    background-color: #d9d9d9;
    position: absolute;
    top: 15%;
    left: 5%;
    transform: translateY(-50%);
  }
  
  .menu-options a {
    display: block; /* Pour que les liens occupent toute la largeur */
    padding: 10px;
    text-decoration: none;
    color: #333;
    text-align: center;
  }
  
  .menu-options a:hover {
    background-color: #939292;
  }

/*footer*/
footer {
    margin-top: 7vw;
    position: sticky;
    bottom: 0px;
}

footer img {
    width: 11vw;
    height: 6vh;
    margin: 2vw;
    background-color: #d9d9d9;
}

.panier-logo img {
    width: 10vw;
}

.home-logo {
    margin-right: 12vw;
}

.compte-logo {
    margin-left: 12vw;
}

.home-logo, .panier-logo, .compte-logo {
    background-color: #d9d9d9;
}

.footer-container {
    background-color: #d9d9d9;
    margin-left: -2vw;
    margin-right: -2vw;
    display: flex;
    justify-content: center;
}
   