@media (max-width: 480px) {
    * {
        background-color: #b1b1b1;
        box-sizing: border-box;
        padding: 0;
    }

    .panier-items {
        margin-top: 21vh;
        margin-bottom: 8vh;
        background-color: #a1a1a1;
        padding: 2vw;
    }

    .panier-item {
        border: 1px solid black;
        border-radius: 10px;
        margin-bottom: 2vw;
        padding: 1vw;
    }

    .panier-item img {
        width: 100%;
        height: auto;
        border-radius: 8px;
    }

    .panier-item-info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 1vw;
    }

    .panier-item-info>img {
        width: 6vw;
    }

    .panier-item-info h4 {
        margin: 0;
    }

    .panier-item-info select {
        width: 30%;
        padding: 0.5vw;
        border-radius: 5px;
    }

    .total-price {
        text-align: center;
        margin-top: 8vh;
        margin-bottom: 15vh;
        background-color: #a1a1a1;
        padding: 1vw;
    }

    #checkout {
        display: block;
        margin: auto;
        margin-top: 15vh;
        margin-bottom: 20vh;
        padding: 1vw;
        border: none;
        border-radius: 5px;
        background-color: #333;
        color: white;
        cursor: pointer;
    }

    #checkout:hover {
        background-color: #555;
    }
}