/* (format smartphone uniquement) */
@media (max-width : 480px) {
* {
    background-color: #b1b1b1;
    box-sizing: border-box;
    padding: 0;
}

h2 {
    text-align: center;
    margin-bottom: 1vw;
    margin-top: 3vh;
    font-size: larger;
}

/* POPULAIRES */
.article-populaires {
    border-radius: 10px;
    margin-bottom: 3vw;
    margin-top: 3vw;
}

.carrouselpop {
    display: grid;
    grid-template-columns: 6fr 50fr 50fr 6fr;
    background-color: #a1a1a1;
    margin-left: -2vw;
    margin-right: -2vw;
}

.article-populaires>img {
    object-fit: cover;
    width: 150px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    z-index: 2;
    margin-bottom: 2vw;
    border-radius: 10px;
}

.article-populaires:nth-of-type(2n) {
    grid-column: 3;
    margin-left: auto;
    margin-right: auto;
}

.article-populaires:nth-of-type(2n+1) {
    grid-column: 2;
    margin-left: auto;
    margin-right: auto;
}

.article-populaires>.display {
    display: initial;
}

.price-populaires {
    text-align: right;
    margin-right: 2vw;
    border: 1px solid rgb(43, 46, 58);
    border-radius: 10px;
    margin-bottom: 1vw;
    margin-left: 29vw;
    padding-right: 1vw;
}

/* flèches */
.carrouselpop>p {
    font-size: 6vw;
    color: rgb(43, 46, 58);
    cursor: pointer;
    user-select: none;
    background-color: #a1a1a1;
    margin-top: -24vw;
}

.carrouselpop>p:first-of-type {
    grid-row: 2;
    grid-column: 1;
    text-align: center;
    margin-left: 1vw;
}

.carrouselpop>p:nth-of-type(2) {
    grid-row: 2;
    grid-column: 4;
    text-align: center;
    margin-right: 1vw;
}

.plat-populaires {
    margin-top: -2vw;
    margin-bottom: -2vw;
    margin-left: 1vw;
}

/* CHAUDS */
.article-chauds {
    border-radius: 10px;
    margin-bottom: 3vw;
    margin-top: 3vw;
}

.carrouselchauds {
    display: grid;
    grid-template-columns: 6fr 50fr 50fr 6fr;
    background-color: #a1a1a1;
    margin-left: -2vw;
    margin-right: -2vw;
}

.article-chauds>img {
    object-fit: cover;
    width: 150px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    z-index: 2;
    margin-bottom: 2vw;
    border-radius: 10px;
}

.article-chauds:nth-of-type(2n) {
    grid-column: 3;
    margin-left: auto;
    margin-right: auto;
}

.article-chauds:nth-of-type(2n+1) {
    grid-column: 2;
    margin-left: auto;
    margin-right: auto;
}

.article-chauds>.display {
    display: initial;
}

.price-chauds {
    border: 1px solid rgb(43, 46, 58);
    text-align: right;
    margin-right: 2vw;
    border-radius: 10px;
    margin-bottom: 1vw;
    margin-left: 29vw;
    padding-right: 1vw;
}

.carrouselchauds>p {
    font-size: 6vw;
    color: rgb(43, 46, 58);
    cursor: pointer;
    user-select: none;
    background-color: #a1a1a1;
    margin-top: -24vw;
}

.carrouselchauds>p:first-of-type {
    grid-row: 2;
    grid-column: 1;
    text-align: center;
    margin-left: 1vw;
}

.carrouselchauds>p:nth-of-type(2) {
    grid-row: 2;
    grid-column: 4;
    text-align: center;
    margin-right: 1vw;
}

.plat-chauds {
    margin-top: -2vw;
    margin-bottom: -2vw;
    margin-left: 1vw;
}

/* PIZZAS */
.article-pizzas {
    border-radius: 10px;
    margin-bottom: 3vw;
    margin-top: 3vw;
}

.carrouselpizzas {
    display: grid;
    grid-template-columns: 6fr 50fr 50fr 6fr;
    background-color: #a1a1a1;
    margin-left: -2vw;
    margin-right: -2vw;
}

.article-pizzas>img {
    object-fit: cover;
    width: 150px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    z-index: 2;
    margin-bottom: 2vw;
    border-radius: 10px;
}

.article-pizzas:nth-of-type(2n) {
    grid-column: 3;
    margin-left: auto;
    margin-right: auto;
}

.article-pizzas:nth-of-type(2n+1) {
    grid-column: 2;
    margin-left: auto;
    margin-right: auto;
}

.article-pizzas>.display {
    display: initial;
}

.price-pizzas {
    border: 1px solid rgb(43, 46, 58);
    text-align: right;
    margin-right: 2vw;
    border-radius: 10px;
    margin-bottom: 1vw;
    margin-left: 29vw;
    padding-right: 1vw;
}

.carrouselpizzas>p {
    font-size: 6vw;
    color: rgb(43, 46, 58);
    cursor: pointer;
    user-select: none;
    background-color: #a1a1a1;
    margin-top: -24vw;
}

.carrouselpizzas>p:first-of-type {
    grid-row: 2;
    grid-column: 1;
    text-align: center;
    margin-left: 1vw;
}

.carrouselpizzas>p:nth-of-type(2) {
    grid-row: 2;
    grid-column: 4;
    text-align: center;
    margin-right: 1vw;
}

.plat-pizzas {
    margin-top: -2vw;
    margin-bottom: -2vw;
    margin-left: 1vw;
}

/* VEG */
.article-veg {
    border-radius: 10px;
    margin-bottom: 3vw;
    margin-top: 3vw;
}

.carrouselveg {
    display: grid;
    grid-template-columns: 6fr 50fr 50fr 6fr;
    background-color: #a1a1a1;
    margin-left: -2vw;
    margin-right: -2vw;
}

.article-veg>img {
    object-fit: cover;
    width: 150px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    z-index: 2;
    margin-bottom: 2vw;
    border-radius: 10px;
}

.article-veg:nth-of-type(2n) {
    grid-column: 3;
    margin-left: auto;
    margin-right: auto;
}

.article-veg:nth-of-type(2n+1) {
    grid-column: 2;
    margin-left: auto;
    margin-right: auto;
}

.article-veg>.display {
    display: initial;
}

.price-veg {
    border: 1px solid rgb(43, 46, 58);
    text-align: right;
    margin-right: 2vw;
    border-radius: 10px;
    margin-bottom: 1vw;
    margin-left: 29vw;
    padding-right: 1vw;
}

.carrouselveg>p {
    font-size: 6vw;
    color: rgb(43, 46, 58);
    cursor: pointer;
    user-select: none;
    background-color: #a1a1a1;
    margin-top: -24vw;
}

.carrouselveg>p:first-of-type {
    grid-row: 2;
    grid-column: 1;
    text-align: center;
    margin-left: 1vw;
}

.carrouselveg>p:nth-of-type(2) {
    grid-row: 2;
    grid-column: 4;
    text-align: center;
    margin-right: 1vw;
}

.plat-veg {
    margin-top: -2vw;
    margin-bottom: -2vw;
    margin-left: 1vw;
}

/* LOCAUX */
.article-locaux {
    border-radius: 10px;
    margin-bottom: 3vw;
    margin-top: 3vw;
}

.carrousellocaux {
    display: grid;
    grid-template-columns: 6fr 50fr 50fr 6fr;
    background-color: #a1a1a1;
    margin-left: -2vw;
    margin-right: -2vw;
}

.article-locaux>img {
    object-fit: cover;
    width: 150px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    z-index: 2;
    margin-bottom: 2vw;
    border-radius: 10px;
}

.article-locaux:nth-of-type(2n) {
    grid-column: 3;
    margin-left: auto;
    margin-right: auto;
}

.article-locaux:nth-of-type(2n+1) {
    grid-column: 2;
    margin-left: auto;
    margin-right: auto;
}

.article-locaux>.display {
    display: initial;
}

.price-locaux {
    border: 1px solid rgb(43, 46, 58);
    text-align: right;
    margin-right: 2vw;
    border-radius: 10px;
    margin-bottom: 1vw;
    margin-left: 29vw;
    padding-right: 1vw;
}

.carrousellocaux>p {
    font-size: 6vw;
    color: rgb(43, 46, 58);
    cursor: pointer;
    user-select: none;
    background-color: #a1a1a1;
    margin-top: -24vw;
}

.carrousellocaux>p:first-of-type {
    grid-row: 2;
    grid-column: 1;
    text-align: center;
    margin-left: 1vw;
}

.carrousellocaux>p:nth-of-type(2) {
    grid-row: 2;
    grid-column: 4;
    text-align: center;
    margin-right: 1vw;
}

.plat-locaux {
    margin-top: -2vw;
    margin-bottom: -2vw;
    margin-left: 1vw;
}

/* SOUPES */
.article-soupes {
    border-radius: 10px;
    margin-bottom: 3vw;
    margin-top: 3vw;
}

.carrouselsoupes {
    display: grid;
    grid-template-columns: 6fr 50fr 50fr 6fr;
    background-color: #a1a1a1;
    margin-left: -2vw;
    margin-right: -2vw;
}

.article-soupes>img {
    object-fit: cover;
    width: 150px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    z-index: 2;
    margin-bottom: 2vw;
    border-radius: 10px;
}

.article-soupes:nth-of-type(2n) {
    grid-column: 3;
    margin-left: auto;
    margin-right: auto;
}

.article-soupes:nth-of-type(2n+1) {
    grid-column: 2;
    margin-left: auto;
    margin-right: auto;
}

.article-soupes>.display {
    display: initial;
}

.price-soupes {
    border: 1px solid rgb(43, 46, 58);
    text-align: right;
    margin-right: 2vw;
    border-radius: 10px;
    margin-bottom: 1vw;
    margin-left: 29vw;
    padding-right: 1vw;
}

.carrouselsoupes>p {
    font-size: 6vw;
    color: rgb(43, 46, 58);
    cursor: pointer;
    user-select: none;
    background-color: #a1a1a1;
    margin-top: -24vw;
}

.carrouselsoupes>p:first-of-type {
    grid-row: 2;
    grid-column: 1;
    text-align: center;
    margin-left: 1vw;
}

.carrouselsoupes>p:nth-of-type(2) {
    grid-row: 2;
    grid-column: 4;
    text-align: center;
    margin-right: 1vw;
}

.plat-soupes {
    margin-top: -2vw;
    margin-bottom: -2vw;
    margin-left: 1vw;
}
}