/* (format smartphone uniquement) */
@media (max-width : 480px) {
    * {
        background-color: #b1b1b1;
        box-sizing: border-box;
        padding: 0;
        
    }
    
    h2 {
        text-align: center;
        margin-bottom: 1vw;
        font-size: larger;
    }
 
    #produit {
        display: grid;
        grid-template-columns: 6fr 5fr 1fr;
        grid-template-rows: 1fr 1fr;
        margin-top: 5vw;
        border-radius: 20px;
        padding: 1vw;
        background-color: #d9d9d9;
    }

    img {
        width: 165px;
        height: 135px;
        grid-column: 1;
        grid-row: 1/3;
        justify-content: center;
        border-radius: 22px;
        margin-top: 1vw;
    }

    h3 {
        grid-column: 2;
        grid-row: 1;
        background-color: #d9d9d9;
    }

    #ingredientsProduit {
        grid-column: 2;
        grid-row: 2;
        margin-top: -6vw;
        font-size: small;
        background-color: #d9d9d9;
    }

    #prixProduit {
        text-align: right;
        margin-right: 2vw;
        border: 1px solid rgb(43, 46, 58);
        border-radius: 22px;
        margin-top: 14vw;
        padding-left: 1vw;
        padding-right: 1vw;
        grid-column: 3;
        grid-row: 2;
        background-color: #d9d9d9;
        }
    

    
    #nbr {
        background-color: #d9d9d9;
        margin-top: 5vw;
        border: none;
        border-radius: 22px;
        padding: 2vw;
        font-size: medium;
        margin-left: 2vw;
    }

    #add {
        background-color: #d9d9d9;
        border: none;
        border-radius: 22px;
        padding: 2vw;
        font-size: medium;
        align-items: end;
        margin-left: 40vw;
    }

/* SIMILAIRES */

h2:nth-of-type(2) {
    margin-top: 6vh;
}

.article-similaires {
    border-radius: 10px;
    margin-bottom: 3vw;
    margin-top: 3vw;
    padding-top: 1vw;
}

.carrouselsim {
    display: grid;
    grid-template-columns: 6fr 50fr 50fr 6fr;
    background-color: #a1a1a1;
    margin-left: -2vw;
    margin-right: -2vw;
}

.article-similaires>img {
    object-fit: cover;
    width: 150px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    z-index: 2;
    margin-bottom: 2vw;
    border-radius: 10px;
    margin-top: -1vw;
}

.article-similaires:nth-of-type(2n) {
    grid-column: 3;
    margin-left: auto;
    margin-right: auto;
}

.article-similaires:nth-of-type(2n+1) {
    grid-column: 2;
    margin-left: auto;
    margin-right: auto;
}

.article-similaires>.display {
    display: initial;
}

.price-similaires {
    text-align: right;
    margin-right: 2vw;
    border: 1px solid rgb(43, 46, 58);
    border-radius: 10px;
    margin-bottom: 1vw;
    margin-left: 29vw;
    padding-right: 1vw;
}

/* flèches */
.carrouselsim>p {
    font-size: 6vw;
    color: rgb(43, 46, 58);
    cursor: pointer;
    user-select: none;
    background-color: #a1a1a1;
    margin-top: -24vw;
}

.carrouselsim>p:first-of-type {
    grid-row: 2;
    grid-column: 1;
    text-align: center;
    margin-left: 1vw;
}

.carrouselsim>p:nth-of-type(2) {
    grid-row: 2;
    grid-column: 4;
    text-align: center;
    margin-right: 1vw;
}

.plat-similaires {
    margin-top: -2vw;
    margin-bottom: -2vw;
    margin-left: 1vw;
}

#panier {
    background-color: #d9d9d9;
    border: none;
    border-radius: 22px;
    padding: 2vw;
    font-size: medium;
    margin-left: 32vw;
    margin-top: 6vh;
}

#back {
    width: 11vw;
    height: 6vh;
    margin-bottom: -5vh;
}
}