@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@100;200;300;400;500;600&eedisplay=swap');

*{
   font-family: 'Ubuntu', sans-serif;
   margin:0; padding:0;
   box-sizing: border-box;
   outline: none; border: none;
   text-decoration: none;
}

.btn,
.delete-btn{
   width: 100%;
   border-radius: 5px;
   padding:10px 30px;
   color:#fff;
   display: block;
   text-align: center;
   cursor: pointer;
   font-size: 20px;
   margin-top: 10px;
}

.btn{
   background-color: #3498db;
}

.btn:hover{
   background-color: #2980b9;
}

.delete-btn{
   background-color: #e74c3c;
}

.delete-btn:hover{
   background-color: #c0392b;
}

.message{
   margin:10px 0;
   width: 100%;
   border-radius: 5px;
   padding:10px;
   text-align: center;
   background-color: #e74c3c;
   color:#fff;
   font-size: 18.5px;
}

.form-container{
   min-height: 100vh;
   background-color: #eee;
   display: flex;
   align-items: center;
   justify-content: center;
   padding:20px;
}

.form-container form{
   padding:20px;
   background-color: #fff;
   box-shadow: 0 5px 10px rgba(0,0,0,.1);
   text-align: center;
   width: 500px;
   border-radius: 5px;
}

.form-container form h3{
   margin-bottom: 10px;
   font-size: 30px;
   color:#333;
   text-transform: uppercase;
}

.form-container form .box{
   width: 100%;
   border-radius: 5px;
   padding:12px 14px;
   font-size: 18px;
   color:#333;
   margin:10px 0;
   background-color: #eee;
}

.form-container form p{
   margin-top: 15px;
   font-size: 20px;
   color:#333;
}

.form-container form p a{
   color:#e74c3c;
}

.form-container form p a:hover{
   text-decoration: underline;
}

.container{
   min-height: 100vh;
   background-color: #eee;
   display: flex;
   align-items: center;
   justify-content: center;
   padding:20px;
}

.container .profile{
   padding:20px;
   background-color: #fff;
   box-shadow: 0 5px 10px rgba(0,0,0,.1);
   text-align: center;
   width: 400px;
   border-radius: 5px;
}

.container .profile>img{
   height: 150px;
   width: 150px;
   border-radius: 50%;
   object-fit: cover;
   margin-bottom: 5px;
}

.container .profile h3{
   margin:5px 0;
   font-size: 20px;
   color:#333;
}

.container .profile p{
   margin-top: 20px;
   color:#333;
   font-size: 18.5px;
}

.container .profile p a{
   color:#e74c3c;
}

.container .profile p a:hover{
   text-decoration: underline;
}

.update-profile{
   min-height: 100vh;
   background-color: #eee;
   display: flex;
   align-items: center;
   justify-content: center;
   padding:20px;
}

.update-profile form{
   padding:20px;
   background-color: #fff;
   box-shadow: 0 5px 10px rgba(0,0,0,.1);
   text-align: center;
   width: 700px;
   text-align: center;
   border-radius: 5px;
}

.update-profile form img{
   height: 200px;
   width: 200px;
   border-radius: 50%;
   object-fit: cover;
   margin-bottom: 5px;
}

.update-profile form .flex{
   display: flex;
   justify-content: space-between;
   margin-bottom: 20px;
   gap:15px;
}

.update-profile form .flex .inputBox{
   width: 49%;
}

.update-profile form .flex .inputBox span{
   text-align: left;
   display: block;
   margin-top: 15px;
   font-size: 17px;
   color:#333;
}

.update-profile form .flex .inputBox .box{
   width: 100%;
   border-radius: 5px;
   background-color: #eee;
   padding:12px 14px;
   font-size: 17px;
   color:#333;
   margin-top: 10px;
}

.update-profile form .flex p{
   margin-top: 15px;
   font-size: 20px;
   color:#333;
   text-align: center;
}


@media (max-width:650px){
   .update-profile form .flex{
      flex-wrap: wrap;
      gap:0;
   }
   .update-profile form .flex .inputBox{
      width: 100%;
   }
}