* {
    background-color: #b1b1b1;
    box-sizing: border-box;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
}

h1, h2 {
    color: #333;
}

#choice {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 20px;
}

button {
    background-color: #333;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

form {
    display: grid;
    gap: 10px;
}

form input {
    padding: 10px;
    font-size: 16px;
}

form button {
    background-color: #333;
    padding: 15px 32px;
    font-size: 16px;
}

div {
    flex-direction: row;
}

.order-item>p {
    margin-top: 0;
    margin-bottom: 0;
}

.order-item {
    margin-top: 2vh;
}

.hidden {
    display: none;
}

#checkbox-container, #message {
    border: 2px solid black;
    padding: 10px;
    margin: 10px 0;
}